{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}


<div class="mt-4">
         <h4>{{burger_name}}</h4>

<!--Devour me button-->
    <button class="change-devour btn border-danger" data-id="{{id}}"data-newdevour="{{devour}}">
		 {{!-- {{#if devoured}}DEVOUR TIME!{{else}}Devour Time!{{/if}} --}}
       <i class="fas fa-hamburger" style="font-size:24px;color:black"></i> Devour Time!
    </button>
 </div>


  